In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('job_positions.csv')
df.head()

,Position,Location,Company Name,Num Applicants,Sector,Num Employees,Position Type,Remote,Easy Apply
0,Software Developer - OOP,"Ovar, Aveiro, Portugal",Bosch,\n 8 applicants\n,Information Technology & Services,"10,001+ employees",Full-time · Mid-Senior level,False,True
1,Process Automation Developer (M/F),"Porto, Porto, Portugal",adidas,None,Sporting Goods,"10,001+ employees",Full-time,False,False
2,Backend Developer,"Lisbon, Portugal",CGI,\n 12 applicants\n,Information Technology & Services,"10,001+ employees",Full-time · Associate,False,True
3,Junior Full Stack Developer,"Porto, Portugal",Tlantic,\n 16 applicants\n,None,51-200 employees,Full-time,False,True
4,.NET Fullstack developer,"Lisbon, Portugal",agap2IT Portugal,\n 24 applicants\n,None,None,Contract,True,True

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        880 non-null    object
 1   Location        880 non-null    object
 2   Company Name    880 non-null    object
 3   Num Applicants  880 non-null    object
 4   Sector          880 non-null    object
 5   Num Employees   880 non-null    object
 6   Position Type   880 non-null    object
 7   Remote          880 non-null    bool
 8   Easy Apply      880 non-null    bool
dtypes: bool(2), object(7)
memory usage: 50.0+ KB

## Fix Location

In [4]:
df['Location'].value_counts()

def short_location(location):
    if 'lisbon' in location.lower() or 'lisboa' in location.lower():
        return 'Lisboa'
    elif location.lower() == 'portugal':
        return 'NA'
    elif 'greater' in location.lower():
        return location.split(' ')[1]
    elif 'metropolitan' in location.lower():
        return location.split(' ')[0]
    else:
        return location.split(',')[0]

df['Location'] = df['Location'].apply(short_location)

In [5]:
df['Location'].value_counts()

Lisboa                 533
Porto                  168
Aveiro                  39
Braga                   31
Castelo Branco          24
Coimbra                 22
NA                      15
Vila Nova de Gaia        9
Leiria                   9
Guimaraes                7
Matosinhos               7
Viseu                    5
Gondomar                 4
Faro                     2
Funchal                  2
Ovar                     1
Guimarães                1
São João da Madeira      1
Name: Location, dtype: int64

## Fix Number of Applicants

In [6]:
df['Num Applicants'].value_counts()
df['Num Applicants'] = df['Num Applicants'].apply(lambda x: x.replace('\n','').strip().replace('None','0').split(' ')[0]).astype('int64')

In [7]:
df['Num Applicants'].value_counts()

0     490
1     108
2      64
6      32
3      30
4      29
7      22
5      16
9      14
10     12
8      11
18      7
11      7
16      6
12      6
23      5
13      4
15      4
19      3
20      3
22      3
24      3
21      1
Name: Num Applicants, dtype: int64

## Fix Number of Employees

In [8]:
df['Num Employees'].value_counts()

1,001-5,000 employees     205
51-200 employees          189
201-500 employees         141
None                      137
501-1,000 employees        85
10,001+ employees          47
5,001-10,000 employees     43
11-50 employees            29
1-10 employees              4
Name: Num Employees, dtype: int64

In [9]:
#df['Num Applicants'] = df['Num Applicants'].apply(lambda x: x.replace('\n','').strip().replace('None','0').split(' ')[0]).astype('int64')
df['Num Employees'] = df['Num Employees'].astype(str).apply(lambda x: x.replace(' employees','').replace('None','0').strip())
df['Num Employees'].value_counts()

1,001-5,000     205
51-200          189
201-500         141
0               137
501-1,000        85
10,001+          47
5,001-10,000     43
11-50            29
1-10              4
Name: Num Employees, dtype: int64

## Fix Position Type

In [10]:
df['Position Type'].value_counts()

Full-time · Entry level         415
Full-time · Associate           182
Full-time · Mid-Senior level    103
Contract · Mid-Senior level      80
None                             44
Full-time                        42
Contract                          8
Contract · Associate              3
Part-time · Associate             1
Part-time                         1
Part-time · Entry level           1
Name: Position Type, dtype: int64

In [11]:
df['Position Type'] = df['Position Type'].apply(lambda x: x.replace('·','|').replace('None','NA').strip())
df['Position Type'].value_counts()

Full-time | Entry level         415
Full-time | Associate           182
Full-time | Mid-Senior level    103
Contract | Mid-Senior level      80
NA                               44
Full-time                        42
Contract                          8
Contract | Associate              3
Part-time | Associate             1
Part-time | Entry level           1
Part-time                         1
Name: Position Type, dtype: int64

## Fix Top 40 Position Titles

In [12]:
df['Position'].value_counts()

Junior Developer                                            25
Front-end Developer – Full-time, Remote                     22
Java Developer – Full-time, Remote                          18
Go Developer – Full-time, Remote                            17
Java Developer                                              15
                                                            ..
Cloud Developer - Lisboa                                     1
Consultor / Programador de Software PHC Manufactor (M/F)     1
Data Analyst/Python Developer (M/F)                          1
Full Stack Java Developer (M/F)                              1
Developer Java (m/f)                                         1
Name: Position, Length: 355, dtype: int64

In [16]:
pd.set_option('display.max_rows', None)

def clean_title(position):
    if 'back-end' in position.lower():
        return position.lower().replace('back-end','Backend').split('-')[0].split('(')[0].strip()
    elif 'front-end' in position.lower():
        return position.lower().replace('front-end','Frontend').split('-')[0].split('(')[0].strip()
    elif  '- full' in position.lower():
        return position.split('- ')[0].strip()
    elif  '|' in position.lower():
        return position.split('|')[0].strip()
    elif  '(' in position.lower():
        return position.split('(')[0].strip()
    elif ':' in  position.lower():
        return position.split(':')[1].split('-')[0].strip()
    elif '-' in  position.lower():
        return position.split('-')[0].strip()
    else:
        return position

df['Position'].apply(clean_title).value_counts()

Java Developer                                           33
Backend Developer                                        29
Angular Developer                                        27
Junior Developer                                         25
Frontend developer – full                                22
Outsystems Developer                                     21
Java Developer – Full                                    18
PHP Developer                                            18
Go Developer – Full                                      17
Fullstack Developer                                      16
Frontend Developer                                       16
.Net Developer                                           16
Python Developer                                         15
Cloud Developer                                          14
C++ Developer                                            13
RPA Developer                                            13
Full Stack Developer                                     12
Junior Java Developer                                    12
Software Developer                                        9
Analyst Developer                                         9
AWS Developer – Full                                      9
ETL Developer                                             9
Frontend developer                                        8
Scala Developer                                           8
Web Developer                                             8
Java/Angular Developer                                    7
FullStack Developer                                       7
Full                                                      7
SQL Developer                                             7
.Net Core Developer                                       7
Shopify Developer – Full                                  6
BI Analyst                                                6
OutSystems Developer                                      6
Data Engineer                                             6
Java Backend Developer                                    5
.NET Developer                                            5
Integration Developer                                     5
C++ Software Developer                                    5
Sharepoint Developer                                      5
FrontEnd Developer                                        5
.Net                                                      5
Salesforce Developer                                      5
Business Intelligence Developer                           4
Web Developer Senior                                      4
PL/SQL Developer                                          4
Appian Developer                                          4
SAP Consultant                                            4
React Developer                                           4
SAP ABAP Developer                                        4
GO Junior Developer                                       4
Android Developer                                         4
Developer Java Web                                        4
Golang Developer                                          4
Javascript Developer                                      4
Functional Analyst                                        4
Backend developer                                         4
Back End Developer                                        4
Data Analyst                                              4
Cobol Developer                                           4
Data Science                                              3
Junior FullStack Developer                                3
Cloud Support                                             3
C/C++ Developer                                           3
Cobol Developer Pleno                                     3
SMART DATA SCIENTIST                                      3
Java Senior Developer                                     3
IOS Developer                                             3
Java/ PLSQL Developer                                     3
Front End Engineer                                        3
.NET/C# Developer                                         3
Low Code Developer                                        3
SMART C/C++ DEVELOPER                                     3
SMART APPLICATION SUPPORT                                 3
Frontend Team Leader / Developer                          3
Analyst Senior Analysis                                   3
Consultor DevOps                                          3
SMART FUNCTIONAL ANALYST                                  3
Junior Full Stack Developer                               3
.Net Fullstack Developer                                  3
Data Science Developer                                    3
Mobile Developer                                          3
QA Automation Developer                                   3
SMART DATABASE DEVELOPER                                  3
iOS Developer                                             3
Recém                                                     3
Junior Business Intelligence Analyst                      3
.NET Core Backend Developer                               3
Developer Cobol Junior                                    3
BackEnd Web Developer                                     2
TIBCO Developer                                           2
Microsoft Support Engineer                                2
Developer Associate                                       2
IT Cloud & Security/Network                               2
Python                                                    2
React.Js Developer                                        2
SAP Developer                                             2
Java Developer with English                               2
Consultor de Software PHC                                 2
PHP/Magento Junior Developer                              2
Developer .NET Junior                                     2
Oracle PL/SQL Developer                                   2
Programador PHC                                           2
Business Analyst                                          2
Junior Salesforce Developer                               2
Mid Software Developer                                    2
Xamarin Developer                                         2
Developer ReactJS                                         2
Analyst Developer Bi                                      2
Developer                                                 2
Java Developer / Tech Lead with English                   2
JavaScript Developer                                      2
GO Developer                                              2
React Developer – Full                                    2
Code Developer                                            2
Senior BI Developer                                       2
AS/400 & RPG Analyst/Developer                            2
Developer Operations                                      2
Consultor PHP                                             2
Process Automation Developer                              2
ETL Developer @ AMS                                       2
IOS Developer Pleno                                       2
Applications Support Specialist                           2
C# .Net Developer                                         2
Java FullStack Developer                                  2
Fullstack Java Developer                                  2
SMART FULL                                                2
SMART DBA SQL SERVER                                      2
Flutter Developer – Full                                  2
SAS Developer                                             2
Senior Developer                                          2
Oferta de trabalho PHP/Magento Sénior Developer           2
Junior Backend Developer                                  2
Application Support Engineer                              2
IT Talent Acquisition                                     2
Consultor BI Oracle                                       2
Blockchain Developer – Full                               2
Frontend developer junior                                 2
Oferta de trabalho QA Automation Developer                2
SMART JAVA DEVELOPER                                      2
PHP/Magento Sénior Developer                              2
Swift Developer – Full                                    2
Consultor Business Analyst                                2
OutSystems Senior Developer                               2
Senior FullStack Developer                                2
Java Developer Contract                                   2
SMART FRONTEND DEVELOPER                                  2
PHP/Magento Developer                                     2
Java Developer/DevOps                                     2
Report Developer                                          2
Go Developer                                              2
ReactJs Developer                                         2
SMART BI CONSULTANT                                       2
AngularJS Developer                                       2
BI Oracle Developer                                       2
Plugins developer                                         2
Frontend Web Developer                                    2
Java Developer – Portugal                                 2
Junior C# Developer                                       2
Junior Fullstack Developer                                2
Mobile Device Management Specialist                       1
Power BI Developer                                        1
Senior Developer OutSystems                               1
Data Analyst/Python Developer                             1
Software Engineer                                         1
Network Consultant                                        1
Senior .NET Developer                                     1
Business Intelligence Microsoft Consultant                1
BackEnd Developer                                         1
Part                                                      1
Senior Software Developer                                 1
Software Developer – DevOps                               1
RPA Analyst Developer                                     1
NodeJS, Angular 2+                                        1
trailblazing   Frontend developer                         1
Business Intelligence Developer,Tech, PM&I HQ Hub, PT     1
JAVA Developer                                            1
Business Intelligence                                     1
COBOL Developer                                           1
Senior Intelligent Automation Developer                   1
Node.js Developer                                         1
Agile Coach                                               1
Drupal Full                                               1
JUNIOR DEVELOPER                                          1
C#.NET Fullstack Developer                                1
Angular Frontend Developer                                1
Backend Software Developer                                1
Programador Frontend Developer                            1
Servicenow Developer                                      1
Full Stack Java Developer                                 1
Developer SQL                                             1
Software Developer – Junior                               1
DBA                                                       1
Angular Senior Developer                                  1
Consultor / Programador de Software PHC Manufactor        1
AS400 Developer                                           1
C++ Senior Developer                                      1
Software Developer Recent Graduate                        1
Senior Backend Developer                                  1
Software Developer Go                                     1
Perl Developer                                            1
Vue.js Developer – Full                                   1
BI Developer                                              1
Consultor Java Backend                                    1
Audio Developer                                           1
BI Microsoft Developer                                    1
2x Full Stack Developer                                   1
Senior Java Developer                                     1
Business Intelligence Consultant                          1
Javascript Senior Developer                               1
Data Architect                                            1
Python FullStack Developer                                1
Analista/Developer VBA                                    1
Quality Data Analyst                                      1
Consultor/Programador de Software PHC                     1
Senior Backend Software Developer                         1
Senior Database Engineer                                  1
Java Fullstack Developer                                  1
Administrador de Sistemas                                 1
Corporate BI Developer                                    1
Revolutionary Java Developer                              1
Data Team Lead                                            1
Angular Junior Developer                                  1
ETL DEVELOPER                                             1
Platform Engineer                                         1
Head of Data Analysis                                     1
Java Developer Fullstack                                  1
Senior Business Intelligence Developer                    1
.NET Fullstack developer                                  1
Kubernetes Developer – Full                               1
Senior React Developer                                    1
JIRA Developer                                            1
PHC Developer/Consultor                                   1
Power Platform Developer                                  1
Back end Developer                                        1
Javascript Frontend Developer                             1
Automation Tester                                         1
Analista Funcional Pleno                                  1
Software Developer – Manufacturing Digital                1
Consultor Desenvolvimento                                 1
Developer Java                                            1
Azure Cloud Engineer                                      1
Python Cloud Platform Developer                           1
Consultor Sénior PL/SQL                                   1
Developer AS400                                           1
Agile Developer                                           1
Vue.js Developer                                          1
Name: Position, dtype: int64