## Import libraries and CSV to dataframe

In [113]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [114]:
df = pd.read_csv('job_positions.csv')
df.head(15)

,Position,Location,Company Name,Num Applicants,Sector,Num Employees,Position Type,Remote,Easy Apply
0,Software Developer - OOP,"Ovar, Aveiro, Portugal",Bosch,\n 8 applicants\n,Information Technology & Services,"10,001+ employees",Full-time · Mid-Senior level,False,True
1,Process Automation Developer (M/F),"Porto, Porto, Portugal",adidas,None,Sporting Goods,"10,001+ employees",Full-time,False,False
2,Backend Developer,"Lisbon, Portugal",CGI,\n 12 applicants\n,Information Technology & Services,"10,001+ employees",Full-time · Associate,False,True
3,Junior Full Stack Developer,"Porto, Portugal",Tlantic,\n 16 applicants\n,None,51-200 employees,Full-time,False,True
4,.NET Fullstack developer,"Lisbon, Portugal",agap2IT Portugal,\n 24 applicants\n,None,None,Contract,True,True
5,Back End Developer,"Braga, Portugal",Checkmarx,\n 7 applicants\n,Computer & Network Security,"501-1,000 employees",Full-time · Associate,False,True
6,Business Intelligence Developer,"Lisboa, Lisbon, Portugal",IQVIA,\n 18 applicants\n,Hospital & Health Care,"10,001+ employees",Full-time,False,True
7,SQL Developer,Lisbon Metropolitan Area,Growin,\n 9 applicants\n,Information Technology & Services,201-500 employees,Full-time · Entry level,False,True
8,Senior BI Developer,"Lisbon, Lisbon, Portugal",Hitachi Vantara,\n 2 applicants\n,None,None,None,False,False
9,FullStack Developer,Lisbon Metropolitan Area,Smart Consulting,None,Information Technology & Services,51-200 employees,Full-time · Associate,False,True
10,Data Analyst (m/f),"Lisbon, Lisbon, Portugal",Noesis,\n 4 applicants\n,Information Technology & Services,"501-1,000 employees",Full-time · Entry level,False,False
11,Senior Backend Software Developer,"Lisbon, Lisbon, Portugal",Unbabel,\n 5 applicants\n,Information Technology & Services,201-500 employees,Full-time · Mid-Senior level,False,True
12,Developer SQL,Lisbon Metropolitan Area,NEX T Engineering,\n 24 applicants\n,Information Technology & Services,11-50 employees,Full-time · Mid-Senior level,True,True
13,Senior Business Intelligence Developer,"Lisbon, Lisbon, Portugal",Evolution,\n 4 applicants\n,Gambling & Casinos,"5,001-10,000 employees",Full-time · Associate,False,False
14,Cloud Developer - 100% Remote,"Porto, Porto, Portugal",Accenture Portugal,\n 5 applicants\n,None,None,None,True,False

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        880 non-null    object
 1   Location        880 non-null    object
 2   Company Name    880 non-null    object
 3   Num Applicants  880 non-null    object
 4   Sector          880 non-null    object
 5   Num Employees   880 non-null    object
 6   Position Type   880 non-null    object
 7   Remote          880 non-null    bool
 8   Easy Apply      880 non-null    bool
dtypes: bool(2), object(7)
memory usage: 50.0+ KB

## Fix Location

In [116]:
df['Location'].value_counts()

def short_location(location):
    if 'lisbon' in location.lower() or 'lisboa' in location.lower():
        return 'Lisboa'
    elif location.lower() == 'portugal':
        return 'NA'
    elif 'greater' in location.lower():
        return location.split(' ')[1]
    elif 'metropolitan' in location.lower():
        return location.split(' ')[0]
    else:
        return location.split(',')[0]

df['Location'] = df['Location'].apply(short_location)

In [117]:
df['Location'].value_counts()

Lisboa                 533
Porto                  168
Aveiro                  39
Braga                   31
Castelo Branco          24
Coimbra                 22
NA                      15
Leiria                   9
Vila Nova de Gaia        9
Matosinhos               7
Guimaraes                7
Viseu                    5
Gondomar                 4
Funchal                  2
Faro                     2
Guimarães                1
São João da Madeira      1
Ovar                     1
Name: Location, dtype: int64

## Fix Number of Applicants

In [118]:
df['Num Applicants'].value_counts()
df['Num Applicants'] = df['Num Applicants'].apply(lambda x: x.replace('\n','').strip().replace('None','0').split(' ')[0]).astype('int64')

In [119]:
df['Num Applicants'].value_counts()

0     490
1     108
2      64
6      32
3      30
4      29
7      22
5      16
9      14
10     12
8      11
18      7
11      7
16      6
12      6
23      5
13      4
15      4
19      3
20      3
22      3
24      3
21      1
Name: Num Applicants, dtype: int64

## Fix Number of Employees

In [120]:
df['Num Employees'].value_counts()

1,001-5,000 employees     205
51-200 employees          189
201-500 employees         141
None                      137
501-1,000 employees        85
10,001+ employees          47
5,001-10,000 employees     43
11-50 employees            29
1-10 employees              4
Name: Num Employees, dtype: int64

In [121]:
df['Num Employees'] = df['Num Employees'].astype(str).apply(lambda x: x.replace(' employees','').replace('None','0').strip())
df['Num Employees'].value_counts()

1,001-5,000     205
51-200          189
201-500         141
0               137
501-1,000        85
10,001+          47
5,001-10,000     43
11-50            29
1-10              4
Name: Num Employees, dtype: int64

## Fix Position Type

In [122]:
df['Position Type'].value_counts()

Full-time · Entry level         415
Full-time · Associate           182
Full-time · Mid-Senior level    103
Contract · Mid-Senior level      80
None                             44
Full-time                        42
Contract                          8
Contract · Associate              3
Part-time · Associate             1
Part-time · Entry level           1
Part-time                         1
Name: Position Type, dtype: int64

In [123]:
df['Position Type'] = df['Position Type'].apply(lambda x: x.replace('·','|').replace('None','NA').strip())
df['Position Type'].value_counts()

Full-time | Entry level         415
Full-time | Associate           182
Full-time | Mid-Senior level    103
Contract | Mid-Senior level      80
NA                               44
Full-time                        42
Contract                          8
Contract | Associate              3
Part-time | Associate             1
Part-time | Entry level           1
Part-time                         1
Name: Position Type, dtype: int64

## Fix Top Position Titles

In [124]:
pd.set_option('display.max_rows', None)
df['Position'].value_counts()

Junior Developer                                                           25
Front-end Developer – Full-time, Remote                                    22
Java Developer – Full-time, Remote                                         18
Go Developer – Full-time, Remote                                           17
Java Developer                                                             15
Frontend Developer                                                         13
PHP Developer                                                              11
Outsystems Developer                                                       11
Fullstack Developer (m/f)                                                  11
Junior Java Developer                                                      10
Backend Developer                                                          10
Angular Developer                                                           9
AWS Developer – Full-time, Remote                                           9
.Net Developer (m/f)                                                        8
Analyst Developer                                                           8
C++ Developer                                                               8
Backend Developer (m/f)                                                     8
.Net Developer                                                              8
PHP Developer (m/f)                                                         7
Web Developer (m/f)                                                         7
RPA Developer                                                               7
ETL Developer                                                               6
Shopify Developer – Full-time, Remote                                       6
Cloud Developer - Braga                                                     6
Outsystems Developer (m/f)                                                  6
Python Developer                                                            6
RPA Developer (m/f)                                                         6
.Net Core Developer                                                         5
.Net (Angular) Developer (m/f)                                              5
Full Stack Developer                                                        5
Java Developer (m/f)                                                        5
SQL Developer                                                               5
Sharepoint Developer                                                        5
.NET Developer                                                              4
Java/Angular Developer                                                      4
Scala Developer                                                             4
GO Junior Developer (m/f)                                                   4
Developer Java Web (m/f)                                                    4
Angular Developer (m/f)                                                     4
Python Developer (m/f)                                                      4
Software Developer                                                          4
Angular Developer - Porto                                                   4
Cobol Developer Pleno (m/f)                                                 3
React Developer (m/f)                                                       3
Front End Engineer                                                          3
Front-End Developer (m/f)                                                   3
Back-End Developer                                                          3
Recém-Licenciado / Junior Developer (m/f)                                   3
Analyst Senior Analysis                                                     3
FullStack Developer                                                         3
FrontEnd Developer (Angular)                                                3
Junior Full Stack Developer                                                 3
OutSystems Developer                                                        3
Full-Stack Developer (m/f)                                                  3
SMART DATA SCIENTIST | Lisboa                                               3
Java/Angular Developer (m/f)                                                3
C/C++ Developer                                                             3
Data Science Developer                                                      3
Data Engineer                                                               3
BI Analyst () (m/f)                                                         3
Data Analyst (m/f)                                                          3
.NET/C# Developer - Odivelas                                                3
Low Code Developer                                                          3
Cloud Support (m/f)                                                         3
.NET Core Backend Developer                                                 3
BI Analyst ()                                                               3
OutSystems Developer (m/f)                                                  3
SMART APPLICATION SUPPORT | Lisboa                                          3
SMART FUNCTIONAL ANALYST| Lisboa                                            3
Fullstack Developer                                                         3
Android Developer                                                           3
SMART DATABASE DEVELOPER | Lisboa                                           3
QA Automation Developer (m/f)                                               3
Java Developer - Porto                                                      3
Java/ PLSQL Developer (m/f)                                                 3
Mobile Developer (m/f)                                                      3
Consultor DevOps (m/f)                                                      3
Frontend Team Leader / Developer (m/f)                                      3
.Net Fullstack Developer (m/f)                                              3
Developer Cobol Junior                                                      3
Java Backend Developer (m/f)                                                3
Backend Developer (m/f) Porto                                               3
Integration Developer - Mulesoft (m/f)                                      3
SMART C/C++ DEVELOPER | Lisboa                                              3
Back End Developer                                                          3
ETL Developer (m/f)                                                         3
PL/SQL Developer (m/f)                                                      3
Cloud Developer - Porto                                                     3
Software Developer (m/f)                                                    3
Angular Developer - Lisboa                                                  3
Java Senior Developer (French) (m/f)                                        3
Plugins developer (m/f)                                                     2
Outsystems Developer - Braga                                                2
Oferta: Angular Developer -Lisboa                                           2
Javascript Developer                                                        2
TIBCO Developer                                                             2
Java Developer / Tech Lead with English                                     2
Anúncio de emprego: SAP Consultant - Lisboa                                 2
Report Developer (M/F)                                                      2
Salesforce Developer - m/f                                                  2
Oracle PL/SQL Developer                                                     2
Appian Developer (M/F)                                                      2
Code Developer                                                              2
Analyst Developer Bi (M/F)                                                  2
Full Stack Developer | Java/Angular (M/F)                                   2
C# .Net Developer (m/f)                                                     2
React Developer – Full-time, Remote                                         2
Java Developer - Aveiro                                                     2
PHP/Magento Sénior Developer (m/f)                                          2
Scala Developer (m/f)                                                       2
Java Developer - 100% Remote                                                2
Backend Developer - Video                                                   2
Application Support Engineer                                                2
Senior FullStack Developer                                                  2
Developer .NET Junior                                                       2
SAP ABAP Developer (m/f)                                                    2
SMART FULL-STACK DEVELOPER | Lisboa                                         2
Xamarin Developer (m/f)                                                     2
anúncio de trabalho: IOS Developer Pleno - Viseu / Castelo Branco (m/f)     2
Emprego: Web Developer Senior - Viseu / Castelo Branco (m/f)                2
Data Engineer | Porto e S. João da Madeira                                  2
Python Developer (M/F)                                                      2
Angular Developer - Braga                                                   2
Consultor Business Analyst (m/f)                                            2
Senior Developer                                                            2
Blockchain Developer – Full-time, Remote                                    2
Business Intelligence Developer (m/f)                                       2
AngularJS Developer                                                         2
Cobol Developer                                                             2
Java Developer - Braga                                                      2
JavaScript Developer (m/f)                                                  2
Java Developer - Coimbra                                                    2
Java Developer Contract                                                     2
Frontend Web Developer                                                      2
Java Developer/DevOps (M/F)                                                 2
ReactJs Developer                                                           2
Java Developer - Lisboa                                                     2
C++ Software Developer (M/F)                                                2
Front-end Developer                                                         2
Front-end Developer Junior                                                  2
Golang Developer | Porto, Aveiro e Coimbra                                  2
Flutter Developer – Full-time, Remote                                       2
Applications Support Specialist - Lisboa ou Porto                           2
Java Backend Developer                                                      2
FullStack Developer (m/f)                                                   2
Developer Associate                                                         2
Microsoft Support Engineer (m/f)                                            2
Anúncio de emprego: Outsystems Developer - Lisboa                           2
Appian Developer                                                            2
IOS Developer (m/f)                                                         2
Junior Salesforce Developer                                                 2
Programador PHC - LEIRIA (m/f)                                              2
Cobol Developer (m/f)                                                       2
Oferta de trabalho QA Automation Developer - Coimbra (m/f)                  2
Fullstack Java Developer (m/f)                                              2
SQL Developer (M/F)                                                         2
AS/400 & RPG Analyst/Developer (m/f)                                        2
Junior C# Developer                                                         2
Cloud Developer - Coimbra                                                   2
Consultor de Software PHC (M/F)                                             2
SMART BI CONSULTANT | Lisboa                                                2
Go Developer                                                                2
Business Analyst (M/F)                                                      2
Backend Developer | Porto, Aveiro ou Coimbra                                2
Junior Business Intelligence Analyst (m/f)                                  2
Python Developer (ODOO)                                                     2
iOS Developer                                                               2
Angular Developer - Coimbra                                                 2
Integration Developer (m/f)                                                 2
Java Developer with English                                                 2
FrontEnd Developer (M/F)                                                    2
SAP Consultant                                                              2
Developer ReactJS (m/f)                                                     2
Oferta: C++ Developer - Lisboa                                              2
Consultor BI Oracle (m/f)                                                   2
BackEnd Web Developer (m/f)                                                 2
Salesforce Developer (M/F)                                                  2
Full-Stack Developer .Net AWS (m/f)                                         2
IT Talent Acquisition                                                       2
Python (Django) Web Developer (m/f)                                         2
Consultor PHP (m/f)                                                         2
Developer Operations (m/f)                                                  2
Data Science | Porto                                                        2
SMART FRONTEND DEVELOPER | Lisboa                                           2
SAP Developer                                                               2
OutSystems Senior Developer (m/f)                                           2
Front-end Developer (Angular 2+, TypeScript)                                2
Junior Java Developer (m/f)                                                 2
BI Oracle Developer (m/f)                                                   2
Senior BI Developer                                                         2
Web Developer Senior (m/f)                                                  2
IT Cloud & Security/Network - Estágios profissionais (m/f)                  2
React.Js Developer                                                          2
FullStack Developer | Java/Angular (M/F)                                    2
SMART DBA SQL SERVER | Lisboa                                               2
Swift Developer – Full-time, Remote                                         2
Anúncio de emprego: SAS Developer - Lisboa                                  2
ETL Developer @ AMS                                                         2
Backend Developer (M/F)                                                     2
Business Intelligence Developer                                             2
Anúncio de emprego: Junior FullStack Developer                              2
.Net Core Developer (m/f)                                                   2
Javascript Developer (m/f)                                                  2
Functional Analyst (m/f)                                                    2
Junior Fullstack Developer (m/f)                                            2
Java Developer – Portugal                                                   2
C++ Software Developer (m/f)                                                2
Oferta de trabalho PHP/Magento Sénior Developer - Coimbra (m/f)             2
Mid Software Developer (M/F)                                                2
GO Developer                                                                2
SMART JAVA DEVELOPER | Lisboa                                               2
Java FullStack Developer (m/f)                                              2
C++ Developer (m/f)                                                         2
Scala Developer | Porto, Aveiro ou Coimbra                                  2
SAP ABAP Developer                                                          2
Process Automation Developer (M/F)                                          2
C#.NET Fullstack Developer (m/f)                                            1
BI Microsoft Developer (m/f)                                                1
JIRA Developer                                                              1
Developer                                                                   1
Developer SQL                                                               1
iOS Developer (m/f)                                                         1
Oferta: Functional Analyst (m/f)                                            1
Anúncio de emprego: Business Intelligence Microsoft Consultant              1
Software Engineer (Flexible Location)                                       1
AS400 Developer (m/f)                                                       1
COBOL Developer (m/f)                                                       1
C++ Software Developer                                                      1
PHC Developer/Consultor                                                     1
Mobile Device Management Specialist (m/f)                                   1
Fullstack Developer - Projeto Mobile                                        1
Emprego: PHP/Magento Developer - Coimbra (m/f)                              1
Data Engineer | Porto                                                       1
Senior Backend Developer (Remote Opportunity)                               1
Senior Software Developer (M/F)                                             1
Python Cloud Platform Developer                                             1
Full-Stack Software Developer | Remote Opportunity                          1
Software Developer Recent Graduate (M/F)                                    1
Python FullStack Developer                                                  1
Data Team Lead - Portugal, Home based                                       1
Full Stack Developer (m/f)                                                  1
Administrador de Sistemas | Porto                                           1
anúncio de trabalho: Android Developer - Viseu / Castelo Branco (m/f)       1
Angular Frontend Developer (m/f)                                            1
Node.js Developer (m/f)                                                     1
Senior Business Intelligence Developer                                      1
Junior Backend Developer                                                    1
Anúncio de emprego: Consultor Desenvolvimento (M/F)                         1
Angular Junior Developer                                                    1
PL/SQL Developer                                                            1
Back End Developer (m/f)                                                    1
Azure Cloud Engineer (m/f)                                                  1
Senior Java Developer (m/f)                                                 1
Junior FullStack Developer                                                  1
Java Developer Fullstack                                                    1
Data Science (m/f)                                                          1

In [125]:
def clean_title(position):
    if 'back-end' in position.lower() or 'back end' in position.lower() or 'BackEnd' in position:
        return 'Backend Developer'
    if 'front-end' in position.lower() or 'front end' in position.lower() or 'FrontEnd' in position:
        return 'Frontend Developer'
    if 'full-stack' in position.lower():
        return 'Fullstack Developer'
    if  '.net' in position.lower():
        return '.Net Developer'
    if position.lower() == 'oferta' or position.lower() == 'anúncio de trabalho' or  position.lower() == 'emprego' or position.lower() == 'anúncio de emprego' or position.lower() == 'oferta de emprego':
        return 'NA'
    if  '-' in position:
        return clean_title(position.split('-')[0].strip())
    if  '|' in position:
        return clean_title(position.split('|')[0].strip())
    if  '(' in position:
        return clean_title(position.split('(')[0].strip())
    if ':' in  position:
        return clean_title(position.split(':')[0].strip())
    if '–' in  position:
        return clean_title(position.split('–')[0].strip())
    else:
        return position

df['Position'] = df['Position'].apply(clean_title)
pd.reset_option('display.max_rows')
df['Position'] = df['Position'].str.title()
df['Position'].value_counts()

Frontend Developer                  56
Java Developer                      54
.Net Developer                      49
Backend Developer                   41
Fullstack Developer                 34
                                    ..
Php/Magento Developer                1
Php/Magento Junior Developer         1
C++ Senior Developer                 1
Business Intelligence Consultant     1
Corporate Bi Developer               1
Name: Position, Length: 198, dtype: int64

## Position Seniority

In [126]:
def seniority(position_title):
    if 'senior' in position_title.lower() or 'sr' in position_title.lower() or 'lead' in position_title.lower() or 'principal' in position_title.lower():
        return 'Senior'
    elif 'junior' in position_title.lower() or 'jr' in position_title.lower():
        return 'Junior'
    else:
        return 'NA'

df['Seniority'] = df['Position'].apply(seniority)
df['Seniority'].value_counts()

NA        784
Junior     62
Senior     34
Name: Seniority, dtype: int64

## Export cleaned data to CSV file

In [127]:
df.head()

,Position,Location,Company Name,Num Applicants,Sector,Num Employees,Position Type,Remote,Easy Apply,Seniority
0,Software Developer,Ovar,Bosch,8,Information Technology & Services,"10,001+",Full-time | Mid-Senior level,False,True,NA
1,Process Automation Developer,Porto,adidas,0,Sporting Goods,"10,001+",Full-time,False,False,NA
2,Backend Developer,Lisboa,CGI,12,Information Technology & Services,"10,001+",Full-time | Associate,False,True,NA
3,Junior Full Stack Developer,Porto,Tlantic,16,None,51-200,Full-time,False,True,Junior
4,.Net Developer,Lisboa,agap2IT Portugal,24,None,0,Contract,True,True,NA

In [128]:
df['Position Type'].value_counts()

Full-time | Entry level         415
Full-time | Associate           182
Full-time | Mid-Senior level    103
Contract | Mid-Senior level      80
NA                               44
Full-time                        42
Contract                          8
Contract | Associate              3
Part-time | Associate             1
Part-time | Entry level           1
Part-time                         1
Name: Position Type, dtype: int64

In [129]:
df.to_csv('.\cleaned_job_positions.csv', index = False)